body{
    width: 100%;
    min-width: 990px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
}
header a{
    display: block;
    width: 1000px;
    height: 75px;
    margin: 0 auto;
    margin-top: 25px;
}
section{
    width: 100%;
    height: 580px;
    background:url(https://image8.wbiao.co/mall/15cf3e654fae484ea49827a1d4de7f2e.jpg) no-repeat top center;
}
section .log{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
section .log-b{
    position: absolute;
    top: 50px;
    right: 0;
    width: 380px;
    height: 460px;
    background: #fff;
}
section form{
    width: 380px;
    height: 460px;
}
section form p{
    width: 269px;
    padding: 40px 0 20px;
    /* background: darkcyan; */
    margin: 0 auto;
}
section form p a{
    width: 134px;
    text-align: center;
    color: grey;
}
section form p a,section form p em{
    display: block;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    float: left;
}
section form p:nth-child(1) em{
    width: 1px;
    color: grey;
}
footer{
    width: 640px;
    height: 61px;
    margin: 0 auto;
    padding:50px 0;
}
footer p{
    font-size: 12px;
    color: #999;
    line-height: 20px;
    text-align: center;
}
