//支持混合功能；
// @mixin transform {
//     -webkit-transform: rotate(30deg);
//     -ms-transform: rotate(30deg);
//     -o-transform: rotate(30deg);
//     -moz-transform: rotate(30deg);
//     transform: rotate(30deg);
// }

//@mixin传参；
@mixin transform($arguments){
    -webkit-transform: $arguments;
    -ms-transform: $arguments;
    -o-transform: $arguments;
    -moz-transform: $arguments;
    transform: $arguments;
}

// @mixin transition($arguments){
//     -webkit-transition: $arguments;
//     -ms-transition: $arguments;
//     -o-transition: $arguments;
//     -moz-transition: $arguments;
//     transition: $arguments;
// }

//设置默认值；
@mixin transition($arguments:all .5s){
    -webkit-transition: $arguments;
    -ms-transition: $arguments;
    -o-transition: $arguments;
    -moz-transition: $arguments;
    transition: $arguments;
}
